{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://pay.fondy.eu/latest/checkout-vue/checkout.css ">
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        {#                        Дані замовника#}
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Ім'я...">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="email" placeholder="E-mail...">
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr>
                        <p>Адреса доставки</p>

                        <hr>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="address" placeholder="Адреса...">
                        </div>

                        <div class="form-field">
                            <input required class="form-control" type="text" name="city" placeholder="Місто...">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="state" placeholder="Область...">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="zipcode" placeholder="Індекс...">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="country" placeholder="Країна...">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Продовжити...">
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Оплата картою</small>
                <div id="checkout-container"></div>
                {#            <button id="make-payment">Оплатити</button>#}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Назад в корзину</a>
                <hr>
                <h3>Разом замовлення </h3>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                        <div style="flex:2"><p>{{ item.product.name }}</p></div>
                        <div style="flex:1"><p>{{ item.product.price | floatformat:2 }} грн.</p></div>
                        <div style="flex:1"><p>x{{ item.quantity }}</p></div>
                    </div>
                {% endfor %}
                <h5>Кількість: {{ order.get_cart_items }}</h5>
                <h5>Разом: {{ order.get_cart_total | floatformat:2 }} грн.</h5>
            </div>
        </div>
    </div>
{#    </form>#}
{#    </div>#}
    <script src="https://pay.fondy.eu/latest/checkout-vue/checkout.js"></script>
    <script>
        var total1 =
        {{ order.get_cart_total | floatformat:2 }} * 100
        var Options = {
            options: {
                methods: ['card', 'banklinks_eu', 'wallets', 'local_methods'],
                methods_disabled: ['banklinks_eu', 'wallets', 'local_methods'],
                card_icons: ['mastercard', 'visa', 'maestro'],
                active_tab: 'card',
                fields: false,
                title: '',
                link: '',
                full_screen: false,
                button: true,
                locales: ['cs', 'de', 'en', 'es', 'fr', 'hu', 'it', 'ko', 'lv', 'pl', 'ro', 'ru', 'sk', 'uk'],
                email: false,


            },
            params: {
                merchant_id: 1396424,
                required_rectoken: 'y',
                currency: 'UAH',
                amount: total1,
                order_desc: ''
            }
        }
        fondy("#checkout-container", Options);
        var app = fondy("#checkout-container", Options)
            .$on("success", function (model) {
                submitFormData();

                var order_status = model.attr("order.order_data.order_status");

                if (order_status == "approved") {
                    console.log("Order is approved. Do somethng on approve...");
                }
            })
            .$on("error", function (model) {
                submitFormData();
                var response_code = model.attr("error.code");
                var response_description = model.attr("error.message");

                console.log(
                    "Order is declined: " +
                    response_code +
                    ", description: " +
                    response_description
                );

            });


   {#document.getElementById('make-payment').addEventListener('click', function (e){#}
   {#         submitFormData()#}
   {#     })#}
    </script>
    <script>submitFormData()</script>
    <script type="text/javascript">

        var shipping = '{{ order.shipping }}'
        var total = '{{ order.get_cart_total }}'

        if (shipping == 'False') {
            document.getElementById('shipping-info').innerHTML = ''
        }
        if (user != 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }
        if (shipping == 'False' && user != 'AnonymousUser') {
            // заберає форму якщо юзер залогований та цифровий товар
            document.getElementById('form-wrapper').classList.add("hidden");
            // показує оплату якщо юзер залогований і адрес доставки не вимагається
            document.getElementById('payment-info').classList.remove("hidden");
        }
        var form = document.getElementById('form')
        csrftoken = form.getElementsByTagName("input")[0].value
        console.log('Newtoken:', form.getElementsByTagName("input")[0].value)
        form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('Form submitted...')
            document.getElementById('form-button').classList.add("hidden")
            document.getElementById('payment-info').classList.remove("hidden")
        })
        function submitFormData() {
            console.log('Payment has been done')
            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }
            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null
            }
            if (shipping != 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }

            if (user == 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value

            }
            var url = "/process_Order/"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo}
                )
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data)
                    alert('Trnasaction completed');
                    cart = {}
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                    window.location.href = "{% url 'store' %}"
                })
        }
    </script>
    </div>
    </div>



{% endblock content %}